<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <span class="brand-title" *ngIf="rolActivo === 'Admin'">🛡️ Rapsodi Admin</span>

      <span class="brand-title" *ngIf="rolActivo !== 'Lector'">📚 Biblioteca Rapsodi</span>
    </div>

    <button class="menu-toggle" (click)="toggleMenu()" [class.active Pacman]="menuAbierto">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="nav-links" [class.show]="menuAbierto">
      <a routerLink="/biblioteca" routerLinkActive="active-link">📚 Ver Catálogo</a>

      <a *ngIf="rolActivo === 'Admin'" routerLink="/admin-dashboard" routerLinkActive="active-link">⚙️ Panel de
        Control</a>

      <div class="user-info">
        <span class="user-badge" [class.badge-admin]="rolActivo === 'Admin'">
          {{ usuarioActivo }} ({{ rolActivo }})
        </span>
        <button class="btn-logout" (click)="onLogout()">❌ Salir</button>
      </div>
    </div>
  </div>
</nav>